<div class="flex h-[93vh] bg-[#8890f8] justify-start">
  <ul class="menu flex-col h-[12em] w-[20em]">
    <li class="flex-1">
      <a routerLink="/onlineLink" class="box-menu w-full font-Gen3 text-2xl menu-item-unselected" routerLinkActive="menu-item" [routerLinkActiveOptions]="{ exact: true }">
        Online Play
      </a>
    </li>
    <li class="flex-1">
      <a routerLink="/tradeEmu" class="box-menu w-full font-Gen3 text-2xl menu-item-unselected" routerLinkActive="menu-item" [routerLinkActiveOptions]="{ exact: true }">
        Trade Emulation
      </a>
    </li>
    <li class="flex-1">
      <a routerLink="/passthroughLink" class="box-menu w-full font-Gen3 text-2xl menu-item-unselected" routerLinkActive="menu-item" [routerLinkActiveOptions]="{ exact: true }">
        Advance Wars
      </a>
    </li>
  </ul>
</div>
<div class="flex h-[7vh] bg-[#8890f8] justify-start">
  <div class="flex-1 menu flex-col h-[6em] w-[20em]">
      <a href="https://github.com/Celio-Link/Celio-Client" target="_blank" class="box-menu w-full font-Gen3 text-2xl menu-item-unselected" routerLinkActive="menu-item" [routerLinkActiveOptions]="{ exact: true }">
        View on Github
      </a>
  </div>
</div>
